.form{
    display: flex;
    flex-direction: column;
    width: 32rem;
    flex-shrink: 0;
    padding-bottom: 2rem;

    

    .contact-info-title{
        font-size: 1.5em;

        @media screen and (max-width: 768px){
            margin-top: 2rem;  
          }
    }

    label{
        margin-top: 1rem;
    }

    .input-container{
      border-radius: 10px;
      border: 2px rgb(155, 155, 155) solid;
      margin-top: .5rem;
      overflow: hidden;
      padding: 1rem;
      display: flex;
      align-items: center;
    }

    input{
        border: none;
        padding-left: 1rem;
        
    }

    .country-pc {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;

        .country{
            flex: 1;
            margin-right: 1rem;
            display: flex;
            flex-direction: column;

            select{
                border: none;
                padding: 0 1rem;

                .select-placeholder{
                    color: rgb(119, 119, 119);
                }
            }
    
        }

        .pc{
            flex: 1;
            margin-left: 1rem;
            display: flex;
            flex-direction: column;

        }
        
        
    }

    .checkbox{
        margin: 1rem 0;
    }

    .form-button{
        font-size: 1.2em;
        width: 10rem;
        align-self: flex-end;
        border: none;
        color: white;
        padding: 1rem;
        border-radius: 8px;
        background-color: orange;
        margin-top: 1rem;
    }
}